<h1>Editar Transferencia</h1>

<%= render "form", transferencia: @transferencia %>

<%= link_to "Mostrar", transferencia_path(@transferencia) %> |
<%= link_to "Volver al listado", transferencias_path %>