<h1>Listado de Transferencias</h1>

<%= link_to "Nueva Transferencia", new_transferencia_path %>

<div id="transferencias">
  <%= render @transferencias %>
</div>

<div>
  <%= link_to "Nueva Transferencia", new_transferencia_path %>
</div>
